# Exclude all
*

!*/
!.gitignore

# Do not eignore source files
!*.vhd
!*.v
!*.bd
!*.edif
!*.sv
!*.svh

# Project files
!*.xpr

# Constraint files
!*.xdc 

# C files
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp

*.cache/
*.runs/
*.sim/
*.hw/
*.ip_user_files/
*.jou
*.log
*.str
